*.iml
*.pyc
*.pyo
*.swp
*.tar.gz
*.tmp
*~
.coverage
.idea
.project
.pydevproject
.tox
*.retry
provider/.cache
provider/version.py
provider/tests/.cache
exported-artifacts/
provider/scripts/ovirt-provider-ovn.service
provider/.coverage
.cache
.local
